<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jx.platform.dao.admin.AdminRoleMapper">
  <resultMap id="BaseResultMap" type="com.jx.platform.entity.admin.AdminRole">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="role_code" jdbcType="VARCHAR" property="roleCode" />
    <result column="role_name" jdbcType="VARCHAR" property="roleName" />
    <result column="role_type" jdbcType="CHAR" property="roleType" />
    <result column="role_desc" jdbcType="VARCHAR" property="roleDesc" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, role_code, role_name, role_type, role_desc, create_date
  </sql>

  <select id="listAdminRole" parameterType="com.jx.platform.dto.admin.RoleListDto" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from admin_role
    where  1=1
    <if test="roleCode!=null and roleCode!=''">
     and role_code = #{roleCode,jdbcType=VARCHAR}
    </if>
    <if test="roleName!=null and roleName!=''">
      and role_name like  concat('%',#{roleName,jdbcType=VARCHAR},'%')
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from admin_role
    where  role_code = #{roleCode,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from admin_role
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jx.platform.dto.admin.RoleInsertDto">
    insert into admin_role ( role_code, role_name,
      role_type, role_desc, create_date)
    values (#{roleCode,jdbcType=VARCHAR}, #{roleName,jdbcType=VARCHAR},
      #{roleType,jdbcType=CHAR}, #{roleDesc,jdbcType=VARCHAR}, now()
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jx.platform.entity.admin.AdminRole">
    insert into admin_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="roleCode != null">
        role_code,
      </if>
      <if test="roleName != null">
        role_name,
      </if>
      <if test="roleType != null">
        role_type,
      </if>
      <if test="roleDesc != null">
        role_desc,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="roleCode != null">
        #{roleCode,jdbcType=VARCHAR},
      </if>
      <if test="roleName != null">
        #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="roleType != null">
        #{roleType,jdbcType=CHAR},
      </if>
      <if test="roleDesc != null">
        #{roleDesc,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jx.platform.dto.admin.RoleInsertDto">
    update admin_role
    <set>
      <if test="roleName != null">
        role_name = #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="roleType != null">
        role_type = #{roleType,jdbcType=CHAR},
      </if>
      <if test="roleDesc != null">
        role_desc = #{roleDesc,jdbcType=VARCHAR},
      </if>
    </set>
    where   role_code = #{roleCode,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jx.platform.entity.admin.AdminRole">
    update admin_role
    set role_code = #{roleCode,jdbcType=VARCHAR},
      role_name = #{roleName,jdbcType=VARCHAR},
      role_type = #{roleType,jdbcType=CHAR},
      role_desc = #{roleDesc,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <delete id="deleteRoleMenus" parameterType="com.jx.platform.dto.admin.RoleInsertDto">
    delete from admin_role_menu where role_code= #{roleCode,jdbcType=VARCHAR}
  </delete>
  <insert id="insertRoleMenus" parameterType="com.jx.platform.dto.admin.RoleInsertDto">
    insert into admin_role_menu (role_code, menu_code, create_date)
    values
    <foreach collection="menuList" separator="," item="item"  >
      (#{roleCode,jdbcType=VARCHAR}, #{item,jdbcType=VARCHAR},now())
    </foreach>
  </insert>
</mapper>